.top{
    width:100%;height: 60px;
    background-color: gray;
    color: black;
    padding: 10px;border-radius: 5px;
    display: flex;align-items: center;
    position:relative;opacity: 0.9;
    position: fixed;
}
.top-content{
    width: 13%;height: 40px;margin: 5px;
    border-radius: 5px;
    background-color: darkgrey;
    /* display: flex;justify-content: center; */
    font-size: 30px;
}
.listbox{
    /* border: midnightblue 1px solid; */
    /* padding-right: 20px; */
    padding-left:10px;
    list-style-type: none;
    background-color: darkgrey;
}
:hover.listbox{
    background-color:gray;
    color: midnightblue;
}
.picture{
    width: 40%;
    margin-left: 5%;margin-top: 50px;
    padding: 2px;
    border-radius: 10px;  
    
}
.text{
    width: 40%;
    margin-left: 5%;margin-top: 50px;
    padding: 20px;font-size: 20px;
    background-color:lavender;
    border-radius: 10px;
    display: none;
}
:hover.fp{
    width: 110%;
    margin-top: -15px;margin-left: -5%;
    padding: 2px;
}
.fp{
    width: 100%;height: 296;border-radius: 10px;
    object-fit:cover
}
@media(max-width:1200px){
    .picture{
        width: 40%;height: 250px;
        margin-left: 5%;margin-top: 20px;
        padding: 2px;
        background-color: white;
    }
    .fp{
        width: 100%;height: 246px;
    }
    :hover.fp{
        width: 110%;height: 280px;
        margin-top: -15px;margin-left: -5%;
        padding: 2px;
    }
}
@media(max-width:700px){
    .picture{
        width: 40%;height: 100px;
        margin-left: 5%;margin-top: 20px;
        padding: 2px;
        background-color: blue;
    }
    .fp{
        width: 100%;height: 96px;
    }
    :hover.fp{
        width: 110%;height: 130px;
        margin-top: -15px;margin-left: -5%;
        padding: 2px;
    }
    .top-content{
        width: 13%;height: 50px;margin: 5px;
        border-radius: 5px;
        /* display: flex;justify-content: center; */
        font-size: 10px;
    }
}
